.sneakers__liked {
  width: 25px;
  height: 25px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 32px;
  left: 32px;
  color: #ececec;
}
